<!DOCTYPE html>
<html>
<!-- <link rel="stylesheet" href="/css/debug.css"> -->
{{- partial "head.html" . -}}
<body class="layout-default">
  <section class="hero is-dark is-fullheight image-box" style="--image-url: url(https://source.unsplash.com/user/santm/)">
    <!-- Hero head: will stick at the top <section class="hero is-dark is-fullheight"> -->
    <div class="hero-head">
      {{ partial "header" . }}
    </div>
    <!--hero head-->
    <div class="hero-body">
      <!-- Hero content: will be in the middle -->
      <div class="container">
        <h1 class="title is-1"> Ooops! Page not found!</h1>
        <h4 class="subtitle is-4"> Sorry for the inconvenience; Please use the search box on the top.</h4>
      </div>
    </div> <!-- hero body-->
    <div class="hero-foot">
      <!-- Hero footer: will stick at the bottom -->
      <div class="container">
        <span class="is-family-code has-text-weight-light">Parts of the web site might be broken due to frequent changes.</span>
      </div>
    </div> <!-- hero foot-->
  </section>
  {{ partial "footer" . }}
</body>
</html>
