<!DOCTYPE html>
<html>
<!-- <link rel="stylesheet" href="/css/debug.css"> -->
{{- partial "head.html" . -}}
<body class="layout-default">
  <section class="hero is-dark is-fullheight image-box" style="--image-url: url(https://source.unsplash.com/user/santm/)">
    <!--  <section class="hero is-dark is-fullheight"> -->
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      {{ partial "header" . }}
    </div>
    <!--hero head-->
    <div class="hero-body demo">
      <!-- Hero content: will be in the middle   <section id="section10" class="demo">
  <h1>Scroll Down Button #10</h1>
  <a href="#thanks"><span></span>Scroll</a>
</section> -->
      <div class="container">
        <h1 class="title is10">Hello!</h1>
        <h1 class="title is-1">Namaste!</h1>
        <br>
        <h2 class="subtitle is-4">Bienvenue, santm.com is now 20 years young.</p>
      </div>
    </div> <!-- hero body-->
    <div class="hero-foot">
      <!-- Hero footer: will stick at the bottom -->
      <div class="container">
        <span class="is-family-code has-text-weight-light">Parts of the web site might be broken due to frequent changes.</span>
        <section id="section10" class="demo">
          <a href="#instagram"><span></span></a>
        </section>
      </div>
    </div> <!-- hero foot-->
  </section>
  <section class="section has-background-white" id="instagram">
    <div class=" container is-fullhd">
      <div class="columns is-multiline is-mobile is-gapless">
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-1by1"><a href=https://www.instagram.com/p/B7k9c5xFJlY/ target=_blank><img src="https://scontent-bom1-1.cdninstagram.com/v/t51.2885-15/e35/s320x320/81033803_739628216560961_2839942229008008124_n.jpg?_nc_ht=scontent-bom1-1.cdninstagram.com&_nc_cat=105&_nc_ohc=ehsv-3QPDJoAX-LGgde&tp=1&oh=4eab5825113cc27ec0e64357123d834c&oe=5FE81E03" alt="White Bellied Blue Flycatcher (Female)" title="White Bellied Blue Flycatcher (Female)"></a></figure>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-1by1"><a href=https://www.instagram.com/p/B7ig1PnlnrF/ target=_blank><img src="https://scontent-bom1-1.cdninstagram.com/v/t51.2885-15/e35/s320x320/82079286_2922660231079482_3125294234632260419_n.jpg?_nc_ht=scontent-bom1-1.cdninstagram.com&_nc_cat=106&_nc_ohc=McAJ-T1oZzcAX-9petI&tp=1&oh=53d7ec474ced4b94cda1c5ba9b757ab6&oe=5FE70D75" alt="Blue-capped Rock-Thrush (Female)" title="Blue-capped Rock-Thrush (Female)"></a>
              </figure>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-1by1"><a href=https://www.instagram.com/p/B7a3u4dFt0U/ target=_blank><img src="https://scontent-bom1-2.cdninstagram.com/v/t51.2885-15/e35/s320x320/80389509_174328803808547_2558388729046464256_n.jpg?_nc_ht=scontent-bom1-2.cdninstagram.com&_nc_cat=111&_nc_ohc=D9geTv8IJnAAX-5SlND&tp=1&oh=262552152eb96dd361d44c5cfe95952e&oe=5FE60B0F" alt="Asian Paradise Flycatcher(Male)" title="Asian Paradise Flycatcher(Male)"></a>
              </figure>
            </div>
          </div>
        </div>

        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-1by1"><a href=https://www.instagram.com/p/B7YGjdLl7Qz/ target=_blank><img src="https://scontent-bom1-2.cdninstagram.com/v/t51.2885-15/e35/s320x320/80476553_164193658226926_6972035765275626425_n.jpg?_nc_ht=scontent-bom1-2.cdninstagram.com&_nc_cat=110&_nc_ohc=TqQCglP--8IAX8r2JxF&tp=1&oh=c50edfaf9c4b28ad80ba3e797eca762c&oe=5FE696E4" alt="Orange Headed Thrush" title="Orange Headed Thrush"></figure>
            </div>
          </div>
        </div>
<div class="column is-one-third"><div class="card"><div class="card-image"><figure class="image is-1by1"><a href=https://www.instagram.com/p/B7VRUN0l1EP/ target=_blank><img src="https://scontent-bom1-1.cdninstagram.com/v/t51.2885-15/e35/s320x320/80796303_855193738264898_2555938677650587555_n.jpg?_nc_ht=scontent-bom1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=WmqXPm8p80gAX_FgnuW&tp=1&oh=d9684356fefe6d0b2134dccab7a244e5&oe=5FE4F619" alt="Blue-Capped Rock Thrush" title="Blue-Capped Rock Thrush"></a></figure></div></div></div>

      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-1by1"><a href=https://www.instagram.com/p/CAxgDPUl7VK/ target=_blank><img src="https://scontent-bom1-1.cdninstagram.com/v/t51.2885-15/e35/s320x320/101056747_175544783885762_6526747274659769692_n.jpg?_nc_ht=scontent-bom1-1.cdninstagram.com&_nc_cat=102&_nc_ohc=e-gPoUpjAQkAX-CuUuu&tp=1&oh=8e676927467076f404f1f5ed0dab6d99&oe=5FE709A3" alt="Black naped Monarch" title="Black naped Monarch"></a></figure>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-1by1"><a href=https://www.instagram.com/p/B7qt_5GF-AY/ target=_blank><img src="https://scontent-bom1-1.cdninstagram.com/v/t51.2885-15/e35/s320x320/81347541_183589196055173_8400453596781813705_n.jpg?_nc_ht=scontent-bom1-1.cdninstagram.com&_nc_cat=105&_nc_ohc=uuIsAuY8hHMAX9HOv8-&tp=1&oh=91ab84af161f630559c1d9a3fc04acfb&oe=5FE7F391" alt="Puff Throated Babbler" title="Puff Throated Babbler"></a></figure>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-1by1"><a href=https://www.instagram.com/p/CAxiAn5l7-B/ target=_blank><img src="https://scontent-bom1-2.cdninstagram.com/v/t51.2885-15/e35/s320x320/101098626_250086262916796_5698990766594165763_n.jpg?_nc_ht=scontent-bom1-2.cdninstagram.com&_nc_cat=100&_nc_ohc=nr-IC1MSGlcAX9d7mYd&tp=1&oh=4426dcfcd9915d0bc1afb59ca1bb4468&oe=5FE80793" alt="White Rumped Shama" title="White Rumped Shama"></a></figure>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-1by1"><a href=https://www.instagram.com/p/B52oXNdFWim/ target=_blank><img src="https://scontent-bom1-1.cdninstagram.com/v/t51.2885-15/e35/s320x320/71284606_795074747584575_2441612563796881157_n.jpg?_nc_ht=scontent-bom1-1.cdninstagram.com&_nc_cat=103&_nc_ohc=qiRWbrGhRlUAX9tNmV0&tp=1&oh=abf1194b4ee6cbaa00c9e24c20738ae1&oe=5FE4D9FB" alt="Jerdon’s Nightjar" title="Jerdon’s Nightjar"></a></figure>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="section has-background-white">
    <div class="container">
      <div class="tile is-ancestor">
        {{- range ( where site.RegularPages "Section" "blog" | first 4 ) }}
        <div class="tile is-3 is-parent">
          <article class="tile is-child box">
            <div class="content has-text-centered">
              <figure class="image">
                <img src="{{ .Params.featured_image }}" style="height: 140px; width: 140px; border-radius: 50%; object-fit: cover;">
              </figure>
              <p class="title has-text-centered">
                <a href="{{ .Permalink }}">{{ .Title }} </a>
              </p>
              <p class="subtitle"><br></p>
            </div>
            <div class="content">
              <p>{{ .Summary }}</p>
              <div><a class="button has-background-grey-lighter" href="{{ .RelPermalink }}" role="button">
                  <nobr>Read more →</nobr>
                </a></p>
                <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
              </div>
            </div>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ partial "footer" . }}
</body>
</html>
