<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- All the meta tags below will come under this meta partial -->
        {{ partial "meta" . }} 
        {{- partial "head_css" . -}} 
        {{- partial "head.html" . -}} 
        <style>
.hero {
	background: black url(https://source.unsplash.com/user/santm/1920x1080/daily?q=25) center / cover;
}
@media (orientation: portrait) { .hero { background: black url(https://lh3.googleusercontent.com/3X86VDI4hYiqN1DmYgiqr8Ie8iQL2zeDUkqq18L1raRHZqDSux0xS9sv4mH_Ra47poCVwPoER-iKp6pJ8pjJ5gvXhv_GwfNE0z-owjBnacjEbsFe1rdtv77SRjZlGWhgGhSWugaH0Uk=w1024) center / cover; } }
        </style>
  </head>
<body class="layout-default">
  <!-- <section class="hero is-dark is-fullheight image-box" style="--image-url: url(https://source.unsplash.com/user/santm/1920x1080/daily?q=50)"> -->
    <section class="hero is-dark is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      {{ partial "header" . }}
    </div>
    <!--hero head-->
    <div class="hero-body demo">
      <!-- Hero content: will be in the middle   <section id="section10" class="demo">
  <h1>Scroll Down Button #10</h1>
  <a href="#thanks"><span></span>Scroll</a>
</section> -->
      <div class="container">
        <h1 class="title is10">Hello!</h1>
        <h1 class="title is-1">Namaste!</h1>
        <br>
        <h2 class="subtitle is-4">Bienvenue, santm.com is now 20 years young.</p>
      </div>
    </div> <!-- hero body-->
    <div class="hero-foot">
      <!-- Hero footer: will stick at the bottom -->
      <div class="container">
        <span class="is-family-code has-text-weight-light">Parts of the web site might be broken due to frequent changes.</span>
        <section id="section10" class="demo">
          <a href="#instagram"><span></span></a>
        </section>
      </div>
    </div> <!-- hero foot-->
  </section>
  <section class="section" id="instagram">
    <div class="container">
      {{ $url := "santm_insta_final.json" }}
	    {{ $gistJ := getJSON $url}}
      <div class="columns is-multiline is-mobile is-gapless">
         {{ range $gistJ }}
          <div class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="image is-1by1"><a href={{ .link }} target=_blank>
                  <picture>
                     <img sizes="(max-width: 320px) 100vw, 320px"
                     srcset="/images/insta/{{ .img_src}}_200.jpg 200w,
                     /images/insta/{{ .img_src}}_320.jpg 320w"
                    src="/images/insta/{{ .img_src}}_320.jpg"
                     alt="{{ .title }}" title="{{ .title }}">
                  </picture></a>
                </figure>
              </div>
            </div>
          </div>
          {{ end }}
    </div>
  </div>
  </section>
  <section class="bd-index-section" style="--bd-section-h: 229deg;">
    <div class="container">
      <div class="tile is-parent">
        {{- range ( where site.RegularPages "Section" "blog" | first 4 ) }}
        <div class="tile is-parent">
        <div class="tile is-child card is-slightly-rounded">
          <div class='card-header'>
              <div class="card-header-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
            </div> <!-- card header-->
            <div class="card-image">
              <figure class="image">
                <a href="{{ .Permalink }}">
                  <img src="{{ .Params.featured_image }}" alt="{{ .Title }}" class="is-slightly-rounded" />
                </a>
              </figure>
            </div>
            <div class="card-content">
              <div class="content has-text-justified">
                <p class="is-size-7">{{ .Summary }}</p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item has-text-weight-light">{{ .PublishDate.Format "January 2, 2006" }}</p>
                <p class='card-footer-item'>
                  <span class='has-text-info'><a class="button has-background-grey-lighter has-text-centered" href="{{ .RelPermalink }}" role="button"><nobr>Read more →</nobr></a></span>
                </p>
              </footer>
            </div>  
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ partial "footer" . }}
</body>
</html>
