<!DOCTYPE html>
<html>
<!-- <link rel="stylesheet" href="/css/debug.css"> -->
{{- partial "head.html" . -}}
<body class="layout-default">
  <section class="hero is-dark is-fullheight image-box" style="--image-url: url(https://source.unsplash.com/user/santm/1920x1080/daily?q=50)">
    <!--  <section class="hero is-dark is-fullheight"> -->
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      {{ partial "header" . }}
    </div>
    <!--hero head-->
    <div class="hero-body demo">
      <!-- Hero content: will be in the middle   <section id="section10" class="demo">
  <h1>Scroll Down Button #10</h1>
  <a href="#thanks"><span></span>Scroll</a>
</section> -->
      <div class="container">
        <h1 class="title is10">Hello!</h1>
        <h1 class="title is-1">Namaste!</h1>
        <br>
        <h2 class="subtitle is-4">Bienvenue, santm.com is now 20 years young.</p>
      </div>
    </div> <!-- hero body-->
    <div class="hero-foot">
      <!-- Hero footer: will stick at the bottom -->
      <div class="container">
        <span class="is-family-code has-text-weight-light">Parts of the web site might be broken due to frequent changes.</span>
        <section id="section10" class="demo">
          <a href="#instagram"><span></span></a>
        </section>
      </div>
    </div> <!-- hero foot-->
  </section>
  <section class="section has-background-black" id="instagram">
    <!-- <div class=" container is-fullhd"> -->
      <div class="columns is-multiline is-mobile is-gapless">
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-1by1"><a href=https://www.instagram.com/p/B7k9c5xFJlY/ target=_blank>
                <picture>
                  <img
                  sizes="(max-width: 320px) 100vw, 320px"
                  srcset="/images/birds/B7k9c5xFJlY_wk0wqt_c_scale,w_200.jpg 200w,
                  /images/birds/B7k9c5xFJlY_wk0wqt_c_scale,w_320.jpg 320w"
                  src="/images/birds/B7k9c5xFJlY_wk0wqt_c_scale,w_320.jpg"
                  alt="White Bellied Blue Flycatcher (Female)" title="White Bellied Blue Flycatcher (Female)">
                  </picture>
              </a></figure>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-1by1"><a href=https://www.instagram.com/p/B7ig1PnlnrF/ target=_blank>
                <picture>
                  <img
                  sizes="(max-width: 320px) 100vw, 320px"
                  srcset="/images/birds/B7ig1PnlnrF_rwnm2l_c_scale,w_200.jpg 200w,
                  /images/birds/B7ig1PnlnrF_rwnm2l_c_scale,w_320.jpg 320w"
                  src="/images/birds/B7ig1PnlnrF_rwnm2l_c_scale,w_320.jpg"
                  alt="Blue-capped Rock-Thrush (Female)" title="Blue-capped Rock-Thrush (Female)">
                  </picture>
                  </a>
              </figure>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-1by1"><a href=https://www.instagram.com/p/B7a3u4dFt0U/ target=_blank>
                <picture>
                  <img
                  sizes="(max-width: 320px) 100vw, 320px"
                  srcset="/images/birds/B7a3u4dFt0U_v1vsxn_c_scale,w_200.jpg 200w,
                  /images/birds//B7a3u4dFt0U_v1vsxn_c_scale,w_320.jpg 320w"
                  src="/images/birds/B7a3u4dFt0U_v1vsxn_c_scale,w_320.jpg"
                  alt="Asian Paradise Flycatcher(Male)" title="Asian Paradise Flycatcher(Male)">
                  </picture>
                 </a>
              </figure>
            </div>
          </div>
        </div>

        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-1by1"><a href=https://www.instagram.com/p/B7YGjdLl7Qz/ target=_blank>
                <picture>
                  <img
                  sizes="(max-width: 320px) 100vw, 320px"
                  srcset="/images/birds/B7YGjdLl7Qz_dxzau7_c_scale,w_200.jpg 200w,
                  /images/birds/B7YGjdLl7Qz_dxzau7_c_scale,w_320.jpg 320w"
                  src="/images/birds/B7YGjdLl7Qz_dxzau7_c_scale,w_320.jpg"
                  alt="Orange Headed Thrush" title="Orange Headed Thrush">
                  </picture>
                </a></figure>
            </div>
          </div>
        </div>
<div class="column is-one-third"><div class="card"><div class="card-image"><figure class="image is-1by1"><a href=https://www.instagram.com/p/B7VRUN0l1EP/ target=_blank>
  <picture>
    <img
    sizes="(max-width: 320px) 100vw, 320px"
    srcset="/images/birds/B7VRUN0l1EP_jh17me_c_scale,w_200.jpg 200w,
    /images/birds/B7VRUN0l1EP_jh17me_c_scale,w_320.jpg 320w"
    src="/images/birds/B7VRUN0l1EP_jh17me_c_scale,w_320.jpg"
    alt="Blue-Capped Rock Thrush" title="Blue-Capped Rock Thrush">
    </picture>
  </a></figure>
</div></div></div>

      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-1by1"><a href=https://www.instagram.com/p/CAxgDPUl7VK/ target=_blank>
              <picture>
                <img
                sizes="(max-width: 320px) 100vw, 320px"
                srcset="/images/birds/CAxgDPUl7VK_kzarus_c_scale,w_200.jpg 200w,
                /images/birds/CAxgDPUl7VK_kzarus_c_scale,w_320.jpg 320w"
                src="/images/birds/CAxgDPUl7VK_kzarus_c_scale,w_320.jpg"
                alt="Black naped Monarch" title="Black naped Monarch">
                </picture>
            </a></figure>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-1by1"><a href=https://www.instagram.com/p/B7qt_5GF-AY/ target=_blank>
              <picture>
                <img
                sizes="(max-width: 320px) 100vw, 320px"
                srcset="/images/birds/B7qt_5GF-AY_rsdpzm_c_scale,w_200.jpg 200w,
                /images/birds/B7qt_5GF-AY_rsdpzm_c_scale,w_320.jpg 320w"
                src="/images/birds/B7qt_5GF-AY_rsdpzm_c_scale,w_320.jpg"
                alt="Puff Throated Babbler" title="Puff Throated Babbler">
                </picture>
              </a></figure>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-1by1"><a href=https://www.instagram.com/p/CAxiAn5l7-B/ target=_blank>
              <picture>
                <img
                sizes="(max-width: 320px) 100vw, 320px"
                srcset="/images/birds/CAxiAn5l7-B_urablc_c_scale,w_200.jpg 200w,
                /images/birds/CAxiAn5l7-B_urablc_c_scale,w_320.jpg 320w"
                src="/images/birds/CAxiAn5l7-B_urablc_c_scale,w_320.jpg"
                alt="White Rumped Shama" title="White Rumped Shama">
                </picture>
            </a></figure>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-1by1"><a href=https://www.instagram.com/p/B52oXNdFWim/ target=_blank>
              <picture>
                <img
                sizes="(max-width: 320px) 100vw, 320px"
                srcset="/images/birds/B52oXNdFWim_ixu4f1_c_scale,w_200.jpg 200w,
                /images/birds/B52oXNdFWim_ixu4f1_c_scale,w_320.jpg 320w"
                src="/images/birds/B52oXNdFWim_ixu4f1_c_scale,w_320.jpg"
                alt="Jerdon’s Nightjar" title="Jerdon’s Nightjar">
                </picture>
               </a></figure>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> --> <!-- end of container -->
  </section>
  <section class="section has-background-white">
    <div class="container">
      <div class="tile is-ancestor">
        {{- range ( where site.RegularPages "Section" "blog" | first 4 ) }}
        <div class="tile is-3 is-parent">
          <article class="tile is-child box">
            <div class="content has-text-centered">
              <figure class="image">
			  {{ if isset .Params "featured_image" }}   
        <a href="{{ .Permalink }}"><img src="{{ .Params.featured_image }}" style="height: 140px; width: 140px; border-radius: 50%; object-fit: cover;"></a>
				{{ else }}
				 <img style="height: 140px; width: 140px; border-radius: 50%; object-fit: cover;" src="/images/logo192.JPG" alt="LOGO">
				{{ end }}
              </figure>
              <p class="title has-text-centered">
                <a href="{{ .Permalink }}">{{ .Title }} </a>
              </p>
              <p class="subtitle"><br></p>
            </div>
            <div class="content">
              <p>{{ .Summary }}</p>
              <div><a class="button has-background-grey-lighter" href="{{ .RelPermalink }}" role="button">
                  <nobr>Read more →</nobr>
                </a></p>
                <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
              </div>
            </div>
          </article>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ partial "footer" . }}
</body>
</html>
