{{ define "main" }}
<section class="hero is-medium is-dark image-box" {{ with .Params.featured_image }} style="--image-url: url({{ . }})" {{ end }}>
  {{ partial "header" . }}
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">{{ .Page.Title}}</h1>
      {{with .Params.subtitle}}
      <h3 class="is-capitalized subtitle is-3">{{.}}</h3>
      {{ end }}
      <span><i class="fa fa-tags"></i></span>
      {{ range (.GetTerms "tags") }}
      <a href="{{ .Permalink }}" class="tag">{{ .LinkTitle }}</a>
      {{ end }} <!-- 85537 01 323 shekh --> 
      <span class="breadcrumb is-medium is-centered" aria-label="breadcrumbs">
        <ul><span> <i class="fa fa-link" aria-hidden="true"></i> </span>
          {{ range (.GetTerms "categories") }}
          <li>
            <a href="{{ .Permalink }}" class="has-text-white">{{ .LinkTitle }}</a>
          </li>
          {{ end }}
        </ul>
      </span>

      <span class="title is-6"><i class="fa fa-user"></i>&nbsp;{{ $.Params.author }} / {{ .PublishDate.Format "January 2, 2006" }}</span><br />
      <span class="title is-6">{{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }} ;
        {{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}<span>
    </div>
  </div>
</section>
<section>
  <div class="container is-fluid column is-8 is-offset-2">
    <div class="content blog-post section has-text-justified" itemprop="articleBody">
      {{ .Content}}
    </div>
  </div>
</section>
<div class="container">
  <div class="tabs">
    <p class="control">
      {{ if .PrevInSection }}
      <a class="button is-light" href="{{.PrevInSection.Permalink}}" title="{{.Page.Title}}">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;Previous</a>
      {{end}}
    </p>
    <p class="control">
      {{with .NextInSection}}
      <a class="button is-light" href="{{.Permalink}}" title="{{.Page.Title}}">Next&nbsp;
        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
      {{end}}
    </p>
  </div>
</div>
{{ $related := shuffle (.Site.RegularPages.Related . | first 4 ) }}

{{ with $related }}
<section class="bd-index-section" style="--bd-section-h: 229deg;">
  <div class="container">
    <div class="tile is-parent">
    {{ range . }}
    <div class="tile is-parent">
      <div class="tile is-child card is-slightly-rounded">
        <div class='card-header'>
          <div class="card-header-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        </div> <!-- card header-->
        <div class="card-image">
          <figure class="image">
            <a href="{{ .Permalink }}">
              <img src="{{ .Params.featured_image }}" alt="{{ .Title }}" class="is-slightly-rounded" />
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="content has-text-justified">
            <p class="is-size-7">{{ .Summary }}</p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item has-text-weight-light">{{ .PublishDate.Format "January 2, 2006" }}</p>
            <p class='card-footer-item'>
              <span class='has-text-info'><a class="button has-background-grey-lighter has-text-centered" href="{{ .RelPermalink }}" role="button"><nobr>Read more →</nobr></a></span>
            </p>
          </footer>
        </div>
      </div>
    </div>   
    {{ end }}
  
  </div>
</div>
</section>
{{ end }}
</main>
{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}
