{{ define "main" }} 
<section class="hero is-medium is-dark image-box" style="--image-url: url(https://lh3.googleusercontent.com/ccVTMAZwsDEkxku2s2GY7DzDBuy-QZHEbaWKW4MD3Oye_qqYQtGnEfuxvWABqSweefdW_S-nM5bOIquhwi-hDFBiuhSJzhCbNGOOQufvE3-RWbqSEICPNGn8nIAZX_7-lrf_YlJiqGo)"> 
  <!--is-dark here makes the burger background to dark-->
  {{ partial "header" . }} 
  <div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title is-1">{{ .Page.Title}}</h1>
    </div>
  </div>
</section>
<section>
  <div class="container is-fluid column is-10">
    <div class="blog-post section has-text-justified" itemprop="articleBody">
	<p>
	
	{{ .Content}}
	</p>
	</div>
	
	<div class="blog-post section has-text-justified" itemprop="articleBody">
	<p>
	<div class="columns is-gapless is-multiline is-centered is-vcentered">
		<div class="column">
			<div class="box" style="width: 168px;">
				<figure class="image image is-128x128">
					<a href="https://photos.app.goo.gl/8yijyugqPBM6S7MZ8"> <img src="https://lh3.googleusercontent.com/sd5stSFI9wyyNRKpk3oEsTVqpmlK1zde3Tbi5WQ-CLtd6OCOBpcUnSfldBMNmXLJJJNJFkd23_SjoRFHrRZNrEzQUNMaJdj8AWkvKqryBq6JkfmYhdOOoCq0bN8bn3S5xQv_fl_qgKU=w300" alt="Brahmagiri Trek" title="Brahmagiri Trek" /> </a>
				</figure>
				<p class="title is-6 has-text-centered">2020 Feb. Brahmagiri</p>
			</div>
		</div><!-- end of col -->
		<div class="column">
			<div class="box" style="width: 168px;">
				<figure class="image image is-128x128">
					<a href="https://photos.app.goo.gl/oZkbkYZd2twceS7P6"> <img src="https://lh3.googleusercontent.com/4TfswoQGcjeCKoV9xFjw5YM83RCTFY-S0Qnam1En41E8HcZ7J3pgY5B4wwngA5OJyMEnchVyWwEKC1n9htwolUdNpW9uCcESdKGfzheQBdwv42WFRKqgCFVaZ4t98yOZYW8PJBFk6wM=w300" alt="Trip to Tamil Nadu and Kerala" title="Trip to Tamil Nadu and Kerala" /> </a>
				</figure>
				<p class="title is-6 has-text-centered">2019 Dec. TN & KL</p>
			</div>
		</div><!-- end of col -->
			<div class="column">
			<div class="box" style="width: 168px;">
				<figure class="image image is-128x128">
					<a href="https://photos.app.goo.gl/Jprnt4T517k2Ye476"> <img src="https://lh3.googleusercontent.com/0ryWIUg_To7oxVCLNWyJWmps4fwYw3E5Btj5R1nrhk03qFB5pwAxLbt44u_-9oIu7QDUq3Bsi_W1okWwmwD4K8zudH6VDkIMLqIEltiel5MzGc1YvlWxVnRD6G_-Gv53ie8s26SzTfQ=w300" alt="Ladakh 2019" title="Ladakh 2019" /> </a>
					</figure>
				<p class="title is-6 has-text-centered">Ladakh 2019</p>
			</div>
		</div><!-- end of col -->
		<div class="column">
			<div class="box" style="width: 168px;">
				<figure class="image image is-128x128">
					<a href="https://photos.app.goo.gl/QNibht6ebWfEa5xN8"> <img src="https://lh3.googleusercontent.com/aHYhy8T-oDdctva43VpS6Q7qgL6ib9pVX1u_lQuQBX1JDNfnIJfdnzXPB0EDpzX9O-69M_h1c0k9Pnvg4dTVYmVpw8rrI049XArlIBNAG_ghwMCY-iWlXDfVYbCqN1R0DOB-4wz834E=w300" alt="Streets of Bangalore" title="Streets of Bangalore" /> </a>
					</figure>
				<p class="title is-6 has-text-centered">Streets of Bangalore</p>
			</div>
		</div><!-- end of col -->		

		<div class="column">
			<div class="box" style="width: 168px;">
				<figure class="image image is-128x128">
					<a href="https://photos.app.goo.gl/mCnf7ZnGGVD1z6Qn1"> <img src="https://lh3.googleusercontent.com/Dvket3VEd0YL4H92rLvkqPP_uzLv2SpDsGDmpSlKk7tFNgEW1OTTgBPFg-DHJujFxv36KOGNxxFSmrhuUTMIDNBqO_0q2EOGHGAsyKgxZQ2MO2CDE2cLwTSfZ0xfMOHjRdjTjAE9FmI=w300" alt="Diwali 2017" title="Diwali 2017" /> </a>
					</figure>
				<p class="title is-6 has-text-centered">Diwali 2017</p>
			</div>
		</div><!-- end of col -->
		<div class="column">
			<div class="box" style="width: 168px;">
				<figure class="image image is-128x128">
					<a href="https://goo.gl/photos/m3H2oFBFg1vRoQKj6"> <img src="https://lh3.googleusercontent.com/AJuFvGn_ZMRwPmS2kAoIkyspIdVVJB_Q5UTZR2S2VWD4XQICNvZn86hHwAIxW_Q6PHlWn750WLPQovuSc1pSq3XUxyRE9CzqgR0hJIAT_5-dPYbCvCIh8TzQVyTb1IARDIou6UavPfQ=w300" alt="Diwali 2017" title="Diwali 2017" /> </a>
					</figure>
				<p class="title is-6 has-text-centered">Kodi Bengare 2016</p>
			</div>
		</div><!-- end of col -->
		<div class="column">
			<div class="box" style="width: 168px;">
				<figure class="image image is-128x128">
					<a href="https://photos.app.goo.gl/i64TdnsX7mdVE1jf8"> <img src="https://lh3.googleusercontent.com/J477imx3TWAolf1CJf7J1QqHcvfd-Kq6lGlQHFfOBFrBTKknkKhG8GYHpj6ul6zZvBckRUbmDWUSP3Sgf34GAFt3kHJP9YF5lY7KI2JsDCtwd4_CfU5OR4TyK74aFe-aMcWR8dhNMFE=w300" alt="Yosemite 2002" title="Yosemite 2002" /> </a>
					</figure>
				<p class="title is-6 has-text-centered">Yosemite 2002</p>
			</div>
		</div><!-- end of col -->
	</div> <!-- end of text colmuns -->
		
</p>		
    </div>
    </div>
</section>
</main>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
