<!DOCTYPE html>
<html>
<head></head>
<!-- <link rel="stylesheet" href="/css/debug.css"> -->
{{- partial "head.html" . -}}
<style>
.mask-custom {
  backdrop-filter: contrast(100%) brightness(100%) saturate(0%) sepia(0%) hue-rotate(0deg) grayscale(100%) invert(0%) blur(0px);
  mix-blend-mode: normal;
  background: rgba(0, 0, 0, 0);
  opacity: 0.85;
}
</style>
</head>
<body>
<header>
<!-- Navbar -->
{{- partial "navbar.html" . -}}
<!-- Navbar -->
<!-- Background image -->
<div class="bg-image">
  <img
    src="https://source.unsplash.com/user/santm/1920x1080/daily?q=50"
    class="w-100"
    alt="Alternative text"
  />
  <div class="mask mask-custom">
	       
          <div class="d-flex justify-content-center align-items-center h-100">
		  <div class="text-warning bg-dark">
			 <h1 class="display-1">Error (4xx)</h1>
			 <h4 class="display-4 text-muted">Sorry can't find the page you're looking for.</h1>
			 <h3 class="display-3">Please try something else from the menu.</h1>
			 
  
            </div>
          </div>
        
  </div>
</div>
<!-- Background image -->
</header>
{{- partial "footer.html" . -}}
</body>
</html>