<!DOCTYPE html>
<html>
<!-- <link rel="stylesheet" href="/css/debug.css"> -->
{{- partial "head.html" . -}}
<body>
<div class="bg-image" style="background-image:url(https://source.unsplash.com/user/santm/1920x1080/daily?q=50) ; height:100vh">
{{- partial "navbar.html" . -}}
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
	<div class="d-flex justify-content-center align-items-center h-100">
	<div class="text-white text-left">
        <h1 class="display-1">Hello</h1>
		<h2 class="display-2">Namaste!</h2>
        <h3 class="display-3">Bienvenue, santm.com is now 20 years young.</h3>
    </div>
</div>
</div>
</div>
<!-- Background image -->
<!--Main layout-->
  <main class="mt-5">
    <div class="container">
      <!--Section: Content-->
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>Quick Intro</strong></h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
              eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
              sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
            </p>
            <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
              nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
              alias, unde optio accusantium soluta, iusto molestiae adipisci et?
            </p>
          </div>
        </div>
      </section>
      <!--Section: Content-->

      <hr class="my-5" />

      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Latest Blog Posts</strong></h4>

        <div class="row">
		        {{- range ( where site.RegularPages "Section" "blog" | first 3 ) }}
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="dark">
			  	 {{ if isset .Params "featured_image" }}   
                <img src="{{ .Params.featured_image }}" class="img-fluid"/>
				{{ end }}
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ .Title }}</h5>
                <p class="card-text">
                  {{ .Summary }}
                </p>
                <a href="{{ .RelPermalink }}" class="btn btn-primary">Read more →</a>
              </div>
            </div>
          </div>        
		  {{ end }}
        </div>
      </section>
      <!--Section: Content-->

      <hr class="my-5" />

{{- partial "footer.html" . -}}
</body>
</html>